
@media (min-width:1024px) {
    





nav {
    z-index: 100;
    color: white;
    height: 107px;
    position: fixed;
    width: 100vw;
    transition: all 0.3s ease-in-out 0s;
    overflow: hidden;
    color: #333;
    background: rgba(249, 248, 247, 0.9);

}
nav .logo{
    background: url(../img/thecaffe_logo_black.svg) no-repeat 50% 50% / contain;
}



/* faq_search_form */


section.faq .inner_content{
    padding-top:50px;
    padding-bottom: 50px;
}


.search_form{
    display: flex;
    align-items: center;
    
}
select[id="search"]{
    width: 10%;
    padding:5px;
    height: 30px;
    margin-right: 10px;
}
input[id="searchtxt"]{
    height: 30px;
    padding:5px;
    width: 30%;
    margin-right: 10px;
}


input[id="submit"]{
    height: 30px;
    padding:5px;
    width: 8%;
    background: #482A25;
    color:#fff;
    cursor: pointer;
}

.faq_area{
    margin-top: 50px;
    width: 100%;
}
.faq_title_ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(51, 51, 51, 0.8);
}
.faq_title_ul>li{
    height: 40px;
    background: #F9F8F7;
    flex:1
}

.faq_title_ul>li.on{
    background: #482A25;
    color:#fff;
}
.faq_title_ul>li>a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.faq_info>ul>li{
    border-bottom:1px solid #b1b1b1;
    height: 50px;
    overflow: hidden;
    display: none;
}

.faq_info>ul>li:nth-child(-n+9){
    display: block;
}





.faq_info>ul>li>dl>dt{
    height: 50px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.faq_info>ul>li>dl>dd{
    border-top:1px solid #b1b1b1;
    padding:20px 0;
    background:#F9F8F7;

}





.number{
    margin-top:50px;
}

.number>ul{
    display: flex;
    width: 35%;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    height: 30px;
}

.number>ul>li{
    width: 30px;
    height: 15px;
    color:rgba(51, 51, 51, 0.6);
}
.number>ul>li.on{
    color:#333
}


.number>ul>li>a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.left_arrow1{
    display: flex;
    width: 15px;
    height: 15px;
    background: url(../img/faq/left_arrow.png) no-repeat 50% 50% /contain;
}

.right_arrow1{
    display: flex;
    width: 15px;
    height: 15px;
    background: url(../img/faq/right_arrow.png) no-repeat 50% 50% / contain;
}








}
