html{
    color:#333;
    font-family: "Noto Sans KR", sans-serif;
}
.point{
    color:#482A25;
}



@media (min-width:1024px) {
    


.hugeft{
    font-size:80px;
}
.bigft{
    font-size:45px;
}
.midft{
    font-size:30px;
}
.smallft{
    font-size:20px;
}


}



@media (max-width:1023px) and (min-width:768px) {
    .hugeft{
        font-size:60px;
    }

.bigft{
    font-size: 40px;
}

.midft{
    font-size:25px;
}
.smallft{
    font-size:18px;
}


}

@media (max-width:767px){
    .hugeft{
        font-size:60px;
    }

.bigft{
    font-size: 23px;
}

.midft{
    font-size:20px;
}
.smallft{
    font-size:16px;
}


}