html{
    color:#333;
    font-family: "Noto Sans KR", sans-serif;
}
.point{
    color:#482A25;
}
.hugeft{
    font-size:80px;
}
.bigft{
    font-size:45px;
}
.midft{
    font-size:30px;
}
.smallft{
    font-size:20px;
}